
/*-------------------------------------------------------------------------*/
/*-------------------------- Шритфы -------------------------------*/
/*-------------------------------------------------------------------------*/

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?21080705');
    src: url('../font/fontello.eot?21080705#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?21080705') format('woff'),
    url('../font/fontello.ttf?21080705') format('truetype'),
    url('../font/fontello.svg?21080705#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21080705#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-angle-right:before { content: '\e800'; } /* '?' */
.icon-angle-left:before { content: '\e801'; } /* '?' */
.icon-angle-circled-down:before { content: '\e802'; } /* '?' */
.icon-twitter:before { content: '\e803'; } /* '?' */
.icon-youtube:before { content: '\e804'; } /* '?' */
.icon-facebook:before { content: '\e805'; } /* '?' */

/*-------------------------------------------------------------------------*/
/*-------------------------- Основные стили -------------------------------*/
/*-------------------------------------------------------------------------*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

li{

    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

body{
    font-size: 16px;
    min-width:1170px;
}

video {
   position:absolute;
   z-index:1;
   min-width:100%;
   overflow:hidden;
}

.wrap{
    width: 796px;
    margin: 0 auto;
    position: relative;
}

.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Header -------------------------------*/
/*-------------------------------------------------------------------------*/

.header{
    width: 100%;
    height: 671px;
    background: url("../img/background.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header-top{
    width: 796px;
    height: 80px;
    line-height: 80px;
}

.header-top__nav{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    float: right;
    width: 695px;
}

.go{
    float: left;
}

.go__link{
    font-family: "ubuntu", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #202020;
    width: 100px;
    height: 80px;
    background-color: #ededed;
    display: inline-block;
    line-height: 80px;
    text-align: center;
}

.nav__item{
    display: inline-block;
    font-size: 0px;
}

.nav__link{
    font-size: 15px;
    padding: 0 26px;
}

.nav__link--active{
    text-transform: uppercase;
    color: #fff;
}

.nav__item:nth-child(6)>.nav__link{
    padding-right: 0px;
}

.nav__item:first-child>.nav__link{
    padding-left: 36px;
}

.header-logo{
    margin-top: 182px;
}

.header-logo__title{
    font-size: 70px;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(0,0,0,.15);
    height: 123px;
    line-height: 123px;
    letter-spacing: 19px;
}

.header-down{
    margin-top: 110px;
    text-align: center;
    font-size: 50px;
    color: #ededed;
}

.filter{
    position: absolute;
    background-color: rgba(46,2,61,.5);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Recent -------------------------------*/
/*-------------------------------------------------------------------------*/

.recent{
    width: 100%;
    background-color: #ededed;
    text-transform: uppercase;
}

.recent__title{
    height: 106px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 106px;
    color: #333333;
}

.recent__title>span{
    font-family: "ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 57px;
    height: 57px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #333;
}

.works__item{
    width: 33.333333%;
    height: 284px;
    background: #ccc;
    float: left;
    position: relative;
    display: block;
}

.works__item:nth-child(1){
    background: url("../img/video-1.jpg") no-repeat;
    background-size: cover;
}

.works__item:nth-child(2){
    background: url("../img/video-2.jpg") no-repeat;
    background-size: cover;
}

.works__item:nth-child(3){
    background: url("../img/video-3.jpg") no-repeat;
    background-size: cover;
}

.works__item:nth-child(4){
    background: url("../img/video-4.jpg") no-repeat;
    background-size: cover;
}

.works__item:nth-child(5){
    background: url("../img/video-5.jpg") no-repeat;
    background-size: cover;
}

.works__item:nth-child(6){
    background: url("../img/video-6.jpg") no-repeat;
    background-size: cover;
}

.works__item:before{
    position: absolute;
    background-color: rgba(46,2,61,.3);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transition: all linear .2s;
}

.works__item:hover:before{
    opacity: 0;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Services -------------------------------*/
/*-------------------------------------------------------------------------*/

.services__title{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 106px;
    color: #333333;
    background-color: #ededed;
    text-transform: uppercase;
}

.services__content{
    height: 570px;
    background: url("../img/servicesbg.jpg") no-repeat;
    background-size: cover;
    padding-top: 90px;
    position: relative;
    box-sizing: border-box;
}

.services__icon{
    height: 52px;
    display: inline-block;
    width: 53px;
    padding: 0 32px;
}

.services__icons--video{
    background: url("../img/videoicon.png") no-repeat 50% 50%;
    opacity: .1;
}

.services__icons--photo{
    background: url("../img/photoicon.png") no-repeat 50% 50%;
}

.services__icons--dydka{
    background: url("../img/dydkaicon.png") no-repeat 50% 50%;
    opacity: .1;
}

.services__icons-set{
    text-align: center;
}

.pag__left{
    position: absolute;
    top: 0;
    left: 100px;
}

.pag__right{
    position: absolute;
    top: 0;
    right: 100px;
}

.services__pag i{
    font-size: 56px;
    color: rgba(255,255,255,.3);
}

.info__text{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #fff;
    padding: 60px 60px;
    background: rgba(0,0,0,.2);
    border:1px solid #fff;
    margin-top:60px;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Footer -------------------------------*/
/*-------------------------------------------------------------------------*/

.footer{
    height: 162px;
    background: #0d0a0b;
    text-align: center;
}

.social__icon{
    width: 50px;
    height: 50px;
    color: #edecec;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    background: #141414;
    display: inline-block;
    line-height: 0;
    margin: 0 12px;
}

.social__icon{
width: 50px;
height: 50px;
color: #edecec;
font-size: 24px;
text-align: center;
border-radius: 50%;
background: #141414;
display: inline-block;
line-height: 0;
margin: 0 12px;
}

.social__icon i {
line-height: 50px;
}

.social{
    display: inline-block;
    line-height: 162px;

display: inline-block;
line-height: 162px;
}

.banner{
position: absolute;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-style: italic;
color: #dad9d9;
line-height: 162px;
text-transform: none;
left: 0;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- About -------------------------------*/
/*-------------------------------------------------------------------------*/

.about{
    background: url("../img/filteraabout.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #dad9d9;
    line-height: 162px;
    text-transform: none;
    left: 0;
}


.about-header__top{
    height: 80px;
    line-height: 80px;
}

.about-logo{
    margin-top: 120px;
}

.about-logo__title{
    font-size: 65px;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(0,0,0,.2);
    height: 106px;
    line-height: 106px;
    letter-spacing: 12px;
}

.about-wrap{
    width: 796px;
    margin: 0 auto;
    position: relative;

}


/*-------------------------------------------------------------------------*/
/*-------------------------- NEWS -------------------------------*/
/*-------------------------------------------------------------------------*/

.news-page {
    background: url("../img/filteraabout.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.news-page__title-wrap {
    margin-top: 45px;
}

.news-page__title{
    font-size: 65px;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(0,0,0,.35);
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
}

.news-blocks {
    margin: 70px 0;
}

.news-blocks__item {
    height: 310px;
    background-color: #ededed;
}

.news-block__header {
    height: 68px;
    background-color: #66bb68;
    position: relative;
    display: block;
    transition: background-color linear .2s;
}

.news-block__header:hover {
    background-color: #74d777;
}

.news-block__header:hover + .news-block__content {
    background-color: #f6f5f5;
}

.news-block__header:hover .news-block__date {
    transform-origin: 50% 50% 0px;
    transform: perspective(300px) rotateX(30deg)
}

.news-block__title {
    margin-left: 112px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 68px;
}

.news-block__date {
    width: 80px;
    height: 65px;
    position: absolute;
    left: 10px;
    background-color: #fff;
    top: -8px;
    transition: all linear .3s;
}

.news-block__day {
    color: #504e4e;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;   
    text-align: center;
    line-height: 30px; 
    margin-top: 10px;
}

.news-block__month {
    color: #504e4e;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;   
    text-align: center;   
}

.news-block__content {
    padding: 60px;
    color: #292929;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    transition: background-color linear .2s;
}