
/*-------------------------------------------------------------------------*/
/*-------------------------- Шритфы -------------------------------*/
/*-------------------------------------------------------------------------*/

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?50255764');
  src: url('../font/fontello.eot?50255764#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?50255764') format('woff'),
       url('../font/fontello.ttf?50255764') format('truetype'),
       url('../font/fontello.svg?50255764#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50255764#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\e804'; } /* '' */
.icon-forward:before { content: '\e805'; } /* '' */
.icon-angle-circled-down:before { content: '\e807'; } /* '' */

/*-------------------------------------------------------------------------*/
/*-------------------------- Основные стили -------------------------------*/
/*-------------------------------------------------------------------------*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

li{

    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

body{
    font-size: 16px;
    min-width:1170px;
}

video {
   position:absolute;
   z-index:1;
   min-width:100%;
   overflow:hidden;
}

.wrap{
    width: 796px;
    margin: 0 auto;
    position: relative;
}

.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.main {
    min-height: 100%;
    position: relative;
}


.footer-clear {
    height: 162px;
    clear: both;
}

html, body {
    height: 100%;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Header -------------------------------*/
/*-------------------------------------------------------------------------*/

.header{
    width: 100%;
    height: 671px;
    background: url("../img/background.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header-top{
    width: 796px;
    height: 80px;
    line-height: 80px;
}

.header-top__nav{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    float: right;
    width: 696px;
}

.go{
    float: left;
}

.go__link{
    font-family: "ubuntu", sans-serif;
    width: 100px;
    height: 80px;
    background: url('../img/logo.png') no-repeat;
    background-size: cover;
    display: inline-block;
}

.nav__item{
    display: inline-block;
    transition: all linear .15s;
}

.nav__item:hover {
    opacity: .5;
}

.nav__link{
    font-size: 15px;
    padding: 20px 26px;  
}

.nav__link--active{
    text-transform: uppercase;
    color: #fff;
}

.nav__item:nth-child(6)>.nav__link{
    padding-right: 0px;
}

.nav__item:first-child>.nav__link{
    padding-left: 36px;
}

.header-logo{
    margin-top: 182px;
}

.header-logo__title{
    font-size: 70px;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(0,0,0,.15);
    height: 123px;
    line-height: 123px;
    letter-spacing: 19px;
}

.header-top__go {
    text-align: center;
}

.header-down{
    margin-top: 110px;
    text-align: center;
    font-size: 50px;
    color: #ededed;
    transition: all linear .3s;
}

.header-down:hover {
    transform: scale(1.1);
}

.header-down__link i {
    transition: all linear .15s;
}

.header-down__link i:hover {
    opacity: .3;
}

.filter{
    position: absolute;
    background-color: rgba(46,2,61,.5);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Recent -------------------------------*/
/*-------------------------------------------------------------------------*/

.recent{
    width: 100%;
    background-color: #ededed;
    text-transform: uppercase;
}

.recent__title{
    height: 106px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 106px;
    color: #333333;
}

.recent__title>span{
    font-family: "ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 57px;
    height: 57px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #333;
}

.recent__works {
    background-color: #000;
}

.works__item{
    height: 100%;
    width: 100%;
    display: block;
    transition: all linear .4s;
    overflow: hidden;
    position: relative;
}

.works__item-panel {
    width: 100%;
    position: absolute;
    left: 0;
    bottom:0;
    height: 70px;
    background: rgba(0,0,0,.5);
    padding: 0 10px;
    text-align: center;
    line-height: 70px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #eee;
    font-weight: 400;
    transform: translateY(70px);
    transition: all linear .2s;
}

.works__wrap {
    overflow: hidden;
    width: 33.333333%;
    height: 284px;
    background: #ccc;
    float: left;
    position: relative;
    display: block;
}

.works__wrap:hover .works__item {
    transform: scale(1.1);
}

.works__wrap:hover .works__item-panel {
    transform: translateY(0px);
}

.works__wrap:nth-child(1) .works__item{
    background: url("../img/video-1.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(2) .works__item{
    background: url("../img/video-2.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(3) .works__item{
    background: url("../img/video-3.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(4) .works__item{
    background: url("../img/video-4.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(5) .works__item{
    background: url("../img/video-5.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(6) .works__item{
    background: url("../img/video-6.jpg") no-repeat;
    background-size: cover;
}

.works__item:before{
    position: absolute;
    background-color: rgba(46,2,61,.3);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transition: all linear .4s;
}

.works__item:hover:before{
    opacity: 0;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Services -------------------------------*/
/*-------------------------------------------------------------------------*/

.services__title{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 106px;
    color: #333333;
    background-color: #ededed;
    text-transform: uppercase;
}

.services__content{
    background: url("../img/servicesbg.jpg") no-repeat;
    background-size: cover;
    padding-top: 90px;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 90px;
    height: 570px;
}

.services__icon{
    display: inline-block;
    height: 52px;
    width: 53px;
    padding: 0 16px;
    cursor: pointer;
    transition: all linear .2s;
    transform: scale(0.8);
}

.services__icons--video{
    background: url("../img/videoicon.png") no-repeat 50% 50%;
    opacity: .1;
}

.services__icons--photo{
    background: url("../img/photoicon.png") no-repeat 50% 50%;
    opacity: .1;
}

.services__icons--dydka{
    background: url("../img/dydkaicon.png") no-repeat 50% 50%;
    opacity: .1;
}

.services-active {
    opacity: 1;
    transform: scale(1);
}

.services-active:hover {
    opacity: 1;
}

.services__icons-set{
    text-align: center;
}

.pag__left{
    position: absolute;
    top: -3px;
    left: 150px;
    cursor: pointer;
}

.pag__right{
    position: absolute;
    top: -3px;
    right: 150px;
    cursor: pointer;
}

.pag__right:hover i,
.pag__left:hover i {
    color: rgba(255,255,255,.6);
}

.services__pag i{
    font-size: 56px;
    color: rgba(255,255,255,.3);
    transition: all linear .2s;
}

.info {
    width: 100%;
    height: 242px;
    overflow: hidden;
    box-sizing: border-box;
    background: rgba(0,0,0,.2);
    border:1px solid #fff;
    margin-top:60px;
    transition: all linear .2s;
    position: relative;
}

.info:hover {
    background: rgba(0,0,0,.3);
}

.info:before {
    content: "click to learn more";
    position: absolute;
    bottom: 0;
    right: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 60px;
    display: block;
    opacity: 0;
    transition: all linear .3s;
}

.info:hover:before {
    opacity: .5;
}

.info__wrap {
    width: 2500px;
    position: relative;
    transition: all linear .3s;

}

.info__text{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #fff;
    width: 796px;
    padding: 60px 60px;
    float: left;
    height: 242px;
    box-sizing: border-box;

}

/*-------------------------------------------------------------------------*/
/*-------------------------- Footer -------------------------------*/
/*-------------------------------------------------------------------------*/

.footer{
    height: 162px;
    background: #0d0a0b;
    text-align: center;
}

.social__icon{
    width: 50px;
    height: 50px;
    color: #edecec;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    background: #141414;
    display: inline-block;
    line-height: 0;
    margin: 0 12px;
}

.social__icon{
width: 50px;
height: 50px;
color: #edecec;
font-size: 24px;
text-align: center;
border-radius: 50%;
background: #141414;
display: inline-block;
line-height: 0;
margin: 0 12px;
transition: transform linear .15s, background-color linear .3s;
}

.social__icon:hover {
    transform: scale(0.9);
    background-color: #2b2a2a;
}

.social__icon i {
line-height: 50px;
}

.social{
    display: inline-block;
    line-height: 162px;

display: inline-block;
line-height: 162px;
}

.banner{
position: absolute;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-style: italic;
color: #dad9d9;
line-height: 162px;
text-transform: none;
left: 0;
transition: all linear .2s;
}

.banner i {
    color: #424141;
    transition: all linear .2s;
}

.banner:hover {
    color: #a7a6a6;
    transform: rotate(2deg);
} 

.banner:hover i {
    color: #fff;
} 

/*-------------------------------------------------------------------------*/
/*-------------------------- About -------------------------------*/
/*-------------------------------------------------------------------------*/



.about{
    background: url("../img/servicesbg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #dad9d9;
    line-height: 162px;
    text-transform: none;
    left: 0;
}


.about-header__top{
    height: 80px;
    line-height: 80px;
}

.about-logo{
    margin-top: 120px;
}

.about-logo__title{
    font-size: 65px;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(0,0,0,.3);
    height: 106px;
    line-height: 106px;
    letter-spacing: 12px;
}

.about-wrap{
    width: 796px;
    margin: 0 auto;
    position: relative;
}

.about-content{
    margin-top: 30px;
}

.about-content__description{
    font-size: 16px;
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: left;
    background: rgba(0,0,0,.3);
    line-height: 24px;
    padding: 36px 46px;

}


/*-------------------------------------------------------------------------*/
/*-------------------------- NEWS -------------------------------*/
/*-------------------------------------------------------------------------*/

.news-page {
    background: url("../img/servicesbg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.news-page__title-wrap {
    margin-top: 45px;
}

.news-page__title{
    font-size: 65px;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: rgba(0,0,0,.35);
    height: 100px;
    line-height: 100px;
    letter-spacing: 6px;
}

.news-blocks {
    margin: 70px 0;
}

.news-blocks__item {
    height: 310px;
    background-color: #ededed;
}

.news-block__header {
    height: 68px;
    background-color: #66bb68;
    position: relative;
    display: block;
    transition: background-color linear .2s;
}

.news-block__header:hover {
    background-color: #74d777;
}

.news-block__header:hover + .news-block__content {
    background-color: #f6f5f5;
}

.news-block__header:hover .news-block__date {
    transform-origin: 50% 50% 0px;
    transform: perspective(300px) rotateX(30deg);
}

.news-block__title {
    margin-left: 112px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 68px;
}

.news-block__date {
    width: 80px;
    height: 65px;
    position: absolute;
    left: 10px;
    background-color: #fff;
    top: -8px;
    transition: all linear .3s;
}

.news-block__day {
    color: #504e4e;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;   
    text-align: center;
    line-height: 30px; 
    margin-top: 10px;
}

.news-block__month {
    color: #504e4e;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;   
    text-align: center;   
}

.news-block__content {
    padding: 60px;
    color: #292929;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    transition: background-color linear .2s;
}

/* ---  inner page news --- */

.news-block__header--in-page:hover {
    background-color: #66bb68;
}

.news-block__header--in-page:hover .news-block__date{
    transform: none;
}

.news-block--in-page {
    height: auto;
}

.news-block__content p,
.news-block__content h3 {
    padding: 10px 0;
}
.news-block__back {
    position: absolute;
    color: #fff;
    top: 0;
    right: 15px;
    line-height: 68px;
    font-size: 30px;
}


/*-------------------------------------------------------------------------*/
/*-------------------------- News -------------------------------*/
/*-------------------------------------------------------------------------*/

.nav--news-page {
    background-color: rgba(0,0,0,.5);
}

.header-top--news {
    position: absolute;
    z-index: 25;
    top: 0;
    left: 0;
}

.works__wrap:nth-child(7) .works__item{
    background: url("../img/video-1.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(8) .works__item{
    background: url("../img/video-2.jpg") no-repeat;
    background-size: cover;
}

.works__wrap:nth-child(9) .works__item{
    background: url("../img/video-3.jpg") no-repeat;
    background-size: cover;
}

/*--- inner news page ---*/

.body-films-page {
    background: url('../img/servicesbg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.films-page-header__block {
    height: 370px;
    background: url('../img/video-1.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.filter--news-page {
    background-color: rgba(46,2,61,.4);
}

.films-page-header__content {
    position: absolute;
    bottom: 31px;
    left: 31px;
    text-transform: uppercase;
    z-index: 4;
}

.films-page-header__desc {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #e3e3e3;
}

.films-page-header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.films-page-content {
    background-color: #ededed;
    margin-bottom: 75px;
}

.films-page-content__desc {
    background-color: #ededed;
    padding: 55px 55px 60px;
    color: #2d2d2d;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.films-page-content__info {
    background-color: #d8d7d7;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.films-page-content__info-item {
    color: #2d2d2d;
    line-height: 96px;
    font-weight: 700;
    font-size: 16px;
    display: inline;
    padding: 0 15px;
}

.films-page-content__info-item i {
    font-weight: 400;
    color: #797878;
}

.films-page-content__video {
    height: 430px;
    padding-bottom: 94px;
}





/*-------------------------------------------------------------------------*/
/*-------------------------- Contacts -------------------------------*/
/*-------------------------------------------------------------------------*/
.contacts {
    min-width: 800px;
}

.header-top--contacts{
    position: absolute;
    z-index: 2;
}

.nav--contacts-page{
    background-color: rgba(0,0,0,.7);
}

.map iframe{
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
}

#map_canvas {
    min-width: 800px;
    width: 100%;
    height: 100%;
    position: absolute;
}


.social--contacts {
    line-height: 80px;
    margin-left: 29px;
}

.contacts-footer {
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}

.social__icon__contacts {
    line-height: 0px;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    opacity: 0.85;
}

.social__icon__contacts:hover {
    background-color: #141414;
}

.social__icon__contacts i {
    line-height: 40px;
    font-size: 19px;
}

.contacts-position {
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 2;
    min-width: 800px;
    width: 100%;
    height: 80px;
}

.contacts-footer__tel {
    position: absolute;
    top: 0;
    right: 35px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 80px;
}

.contacts-footer__adress {
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 80px;
    text-transform: uppercase;
    width: 290px;
    text-align: center;
    margin-left: -145px;
    
}

/*-------------------------------------------------------------------------*/
/*-------------------------- Services -------------------------------*/
/*-------------------------------------------------------------------------*/


.nav--services-page {
    background: rgba(0,0,0,.7);
}

.services-page {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
/*    min-width: 1170px;*/
/*    overflow-x: hidden;*/
}

.services-page-photo {
    height: auto;
    background-color: #ededed;
}

/*.services-page__img {
    width: 50%;
    height: auto;
    float:left;
    box-sizing: border-box;
}*/

.services-page__content {
    width: 50%;
    padding-left: 50%;
    background: url('../img/camera.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: left top;
    padding-top: 130px;
    padding-bottom: 50px;
}

.services-page__title {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #474747;
    line-height: 46px;
    max-width: 585px;
    padding-left: 50px;  
}

.services-page__desc {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #575757;
    padding-bottom: 24px;
    max-width: 585px;
    padding-left: 50px;  
}

/*.services-page__img--photo {
    background: url("../img/camera.jpg") no-repeat;
    background-size: cover;
    height: 500px;

}*/

.services-page-movie {
    box-sizing: border-box;
    width: 100%;
    background-color: #ededed;
}

.services-movie__title {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #474747;
    line-height: 46px;
    max-width: 585px;
    padding-right: 50px;
}

.services-movie__desc {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #575757;
    padding-bottom: 24px;
    max-width: 585px;
    padding-right: 50px;
}

.services-page__content--movie {
    width: 50%;
    padding-left: 0;
    padding-right: 50%;
    background: url('../img/movie.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right top;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}

.services-page__content--movie>.services-movie__title {
    padding-right: 50px;
    padding-left: 0;

}

.services-page__content--movie>.services-movie__desc {
    padding-right: 50px;
    padding-left: 0;

}

.services-page-preprodaction {
    box-sizing: border-box;
    width: 100%;
    background-color: #ededed;
}

.services-preprodaction__title {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #474747;
    line-height: 46px;
    max-width: 585px;
    padding-left: 50px;

}

.services-preprodaction__desc {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #575757;
    padding-bottom: 24px;
    max-width: 585px;
    padding-left: 50px;
}

.services-page__content--preprodaction {
    width: 50%;
    padding-left: 50%;
    background: url('../img/preprodaction.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: left top;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-page-production {
    box-sizing: border-box;
    width: 100%;
    background-color: #ededed;
}

.services-production__title {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #474747;
    line-height: 46px;
    max-width: 585px;
    padding-right: 50px;
}

.services-production__desc {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #575757;
    padding-bottom: 24px;
    max-width: 585px;
    padding-right: 50px;
}

.services-page__content--production {
    width: 50%;
    padding-left: 0;
    padding-right: 50%;
    background: url('../img/production.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right top;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}

.services-page__content--production>.services-production__title {
    padding-right: 50px;
    padding-left: 0;

}

.services-page__content--production>.services-production__desc {
    padding-right: 50px;
    padding-left: 0;

}

.services-page__wrap {
    float: right;
}